body{
    overflow-x: hidden;
}
.CarouselHeading{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 80px;
    margin-top: -20px;

}
.carousel{
    display: flex;
    margin-bottom: 50px;
}
.Slider{
    display: flex;
    width: 90%;
    transition: 1.5s;
    scroll-behavior: smooth;
    
}
.handle{
    position: relative;
    z-index: 2;
    width: 5%;
    background: transparent;
    color: white;
    border: none;
    box-shadow: inset 50px 50px 300px rgba(0, 0, 1, 0.807); 

}
.Items{
    padding: 3px;
    transition: 0.3s;
    
}
.Items:hover{
    transform: scale(1.1);
    margin-right: 20px;
    margin-left: 20px;
    
}
