.footer{
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
}
p ,a{
    color: #525151;
    margin-left: 60px;
    margin-top: 60px;

}
a{
    margin: 10px;
}
ul{
    display: inline-block;
}
li{
    margin: 10px;
}